.venv/
postgres/
.gitignore
.git/
.idea/
README.md
.ruff_cache/
docker-compose.dev.yml
docker-compose.example.yml
docker-compose.yml
tests/
task.md
ROADMAP.md
.fastapicloud/
.tests/
__pycache__/
*.pyc
*.pyo
.env
.env.*
*.md
.vscode/
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/
venv/